@import "../../../assets/stylesheet/main.scss";

.tiles-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 30px;
  background-color: $white;

  background-repeat: no-repeat;
  background-position: right center;
  @include cmnBox();
  .tiles-left {
    p {
      margin: 0 0 10px 0;
      font-size: $fs-14;
      font-family: $font-meduim;
      color: rgba($secondary-1, 0.6);
    }
    h4 {
      margin: 0;
      font-size: $fs-30;
      font-family: $font-meduim;
    }
  }
  &.blue {
    background-image: url(../../../assets/images/svg/shape-blue.svg);
    h4 {
      color: $primary-1;
    }
  }
  &.yellow {
    background-image: url(../../../assets/images/svg/shape-yellow.svg);
    h4 {
      color: $primary-2;
    }
  }
  &.green {
    background-image: url(../../../assets/images/svg/shape-green.svg);
    h4 {
      color: $primary-3;
    }
  }
  &.red {
    background-image: url(../../../assets/images/svg/shape-red.svg);
    h4 {
      color: $primary-4;
    }
  }
}
.panel-main {
  padding: 30px;
  background-color: $white;
  margin-top: 30px;
  @include cmnBox();
  .panel-header {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-family: $font-meduim;
      font-size: $fs-26;
      color: $secondary-1;
      position: relative;
      padding: 0 10px;
      margin: 0;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 14px;
        width: 100%;
        border-radius: 10px;
        opacity: 0.1;
        background-color: $primary-1;
      }
    }
    .mat-flat-button {
      margin-right: auto;
      margin-left: 30px;
    }
  }
  .panel-content {
    margin-top: 15px;
    .filter-main {
      border: 1px solid $light-grey;
      padding: 30px;
      border-radius: 10px;
      margin-bottom: 30px;
      .filter-form {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .form-field {
          margin-right: 20px;
          &:nth-child(5) {
            margin-left: auto;
          }
          &:nth-child(6) {
            margin-right: 0;
          }
        }
      }
    }
    .assets-items-main {
      .assets-cards {
        .cards {
          padding: 25px 25px 10px 25px;
          border: 1px solid $light-grey;
          border-radius: 10px;
          min-height: 183px;
          background-image: url("../../../assets/images/png/card-bg.png");
          background-repeat: no-repeat;
          background-position: top right;
          margin-bottom: 40px;
          .inner-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .img-main {
              img {
                border-radius: 50%;
                border: 1px solid $primary-1;
                height: 50px;
              }
            }
            .title-main {
              margin-left: 20px;
              h5 {
                margin: 0;
                font-family: $font-meduim;
                font-size: $fs-14;
                color: $secondary-1;
              }
              p {
                margin: 0;
                font-family: $font-meduim;
                font-size: $fs-12;
                color: rgba($secondary-1, 0.3);
              }
            }
          }
          .inner-middle {
            padding: 22px 0 8px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $light-grey;
            h5 {
              margin: 0;
              font-family: $font-meduim;
              font-size: $fs-14;
              letter-spacing: 0.42px;
              color: $primary-1;
            }
            span {
              font-family: $font-meduim;
              font-size: $fs-14;
              letter-spacing: 0.42px;
              min-width: 120px;
              border-radius: 6px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              &.green {
                color: $primary-3;
                background-color: rgba($primary-3, 0.1);
              }
              &.red {
                color: $primary-4;
                background-color: rgba($primary-4, 0.1);
              }
            }
          }
          .inner-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            span {
              font-family: $font-meduim;
              font-size: $fs-12;
              color: rgba($secondary-1, 0.6);
            }
          }
        }
      }
    }
  }
}
::ng-deep .more-menu {
  min-width: 160px !important;
}
.add-form {
  .form-field {
    margin-bottom: 30px;
    .mat-form-field {
      width: 100%;
    }
  }
}
