<mat-action-list>
  <button
    mat-list-item
    [routerLink]="['/assets']"
    [routerLinkActive]="'active'"
  >
    <img src="../../../../assets/images/svg/assets-icon.svg" />
    <div mat-line>Assets</div>
  </button>
  <button
    mat-list-item
    [routerLink]="['/request']"
    [routerLinkActive]="'active'"
  >
    <img src="../../../../assets/images/svg/request-icon.svg" />
    <div mat-line>Request</div>
  </button>
  <button mat-list-item>
    <img src="../../../../assets/images/svg/faq-icon.svg" />
    <div mat-line>FAQs</div>
  </button>
  <button mat-list-item>
    <img src="../../../../assets/images/svg/customer-support-icon.svg" />

    <div mat-line>Customer Support</div>
  </button>
  <button mat-list-item>
    <img src="../../../../assets/images/svg/assets-icon.svg" />
    <div mat-line>Assets (Employee)</div>
  </button>
  <button mat-list-item>
    <img src="../../../../assets/images/svg/request-icon.svg" />
    <div mat-line>Request (Employee)</div>
  </button>
</mat-action-list>
